@import url(../../component/layout.css);

.griddy-2-cols {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  text-align: center;
  color: #000000;
  font-size: 18px;
}

.homepage-nav__button {
  width: 192px;
  height: 192px;
  border-radius: 6px;
  background-color: var(--theme-accent-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.aglinging-pix {
  align-self: center;
}

.homepage-nav__underbutton {
  margin-top: 5px;
  font-size: 16px;
}
