.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.global-top-navigation {
  align-items: center;
  background-color: #8f8f8f;
  display: flex;
  height: 46px;
  justify-content: space-between;
  left: 0;
  padding: 0 18px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.margaintoleft-x4 {
  display: flex;
  margin-left: 1rem;
}

.margaintoleft-x4 .text-nav {
  color: #000000;
}

.margaintoleft-x4 .text-nav:hover {
  color: #D1D5DB;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-width: 768px;
  width: 100%;
  z-index: 50;
}

.main-background {
  height: 100%;
  width: 100%;
  margin-bottom: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  background-color: #447e6c;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  z-index: -2;
}

.global-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 48px;
  max-width: 1236px;
  position: relative;
  width: 85%;

  top: 46px;
  will-change: top;
}

.global-footer {
  --global-footer-links-in-column: 2;
  background-color: #280033;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
  word-wrap: break-word;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 148px;
  justify-content: flex-end;
}

.header-x2 {
  color: #ffffff;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  width: 100%;
}

.header-x2 img {
  display: block;
  max-height: 100px;
  max-width: 250px;
  object-fit: scale-down;
  object-position: bottom;
  width: auto;
}

.header-text {
  font-size: 50px;
  color: #ffffff;
}

.page {
  color: #ffffff;
  margin-top: 12px;
  position: relative;
}

.page .page__main {
  height: 100%;
  z-index: 52;
}
.page__main {
  border-radius: 0.5em !important;
  margin-bottom: 1.4em;
}
.page__main {
  background-color: #2c7b63;
  border-radius: 3px;
  min-height: 480px;
  padding: 24px 36px;
  position: relative;
}

.page-header {
  margin-bottom: 20px;
}

.page-header .head-text{
  font-size: 32px;
}

.bottom-gap {
    margin-bottom: 20px;
}
